.update-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px; /* space between inputs */
  width: 100%;
  max-width: 400px; /* prevents form getting too wide */
  margin: 100px auto; /* centers the form */
  background: rgb(from var(--bg-lavender) r g b / 0.7);
  border-radius: 12px;
  padding-top: 20px;
}

.update-password-form-input {
  width: 80%;
  padding: 12px 16px; /* comfortable click area */
  border-radius: 12px; /* rounded corners */
  border: 2px solid var(--teal);
  font-size: 1rem;
  font-family:
    "Nunito", sans-serif; /* inputs don't inherit font automatically! */
  color: var(--text-dark);
  outline: none; /* removes default blue outline */
}

.update-password-form-input:focus {
  border-color: var(--pink); /*changes border color when clicked*/
  background-color: var(
    --bg-lavender
  ); /*changes background color when clicked*/
}

.update-password-button {
  background-color: rgb(from var(--teal) r g b / 0.7);
  color: white;
  padding: 12px 12px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  border: 3px solid white;
}

.update-password-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.feedback {
    margin: 100px Auto;
}
