.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

}

.nav-logo {
  height: 100px;
  width: auto;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.nav-logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav-button {
  font-size: clamp(0.5rem, 1vw, 1.5rem);
  max-width: 100px;
  max-height: 50px;
  text-decoration: none; /*removes the underline from the link*/
  color: white;
  border-radius: 16px;
  padding: 12px 50px;
  font-weight: 700;
  display: flex; /* use flex so text can be centered */
  align-items: center; /* centers vertically */
  justify-content: center; /* centers horizontally */
  border: 3px solid white;
}

.nav-button:hover {
  background-color: var(--orange);
  cursor: pointer;
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 1rem;
  padding-right: 5px;
}

.hamburger-icon {
  display: none; /* hidden on desktop */
}

@media (max-width: 480px) {
  .nav-logo {
    height: 60px;
  }

  .hamburger-icon {
    display: block; /* shown on phones */
    margin-right: 10px;
  }

  .nav-links {
    display: none; /* links hidden by default on phones */
    flex-direction: column;
    align-items: flex-end; /* links appear on right side */
    width: 100%;
  }

  .nav-links-open {
    display: flex; /* links revealed when menu is open */
  }
}
